{% extends "base.html" %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <div v-if="!voting.start_date">
                <h4>Título: [[voting.name]]</h4>
                <h5>Estado: Votación no comenzada.</h5>
            </div>

            <div v-else-if="!voting.end_date">
                <div id="head-voting-v">
                    <h4>Título: [[voting.name]]</h4>
                    <h5>Estado: Votación en progreso.</h5>
 
                </div>

                <div id="statistics-voting" class="row">
                    <h6>Censo: {{stats_census_size}}</h6>
                    <h6>Porcentaje de participación: {{stats_participation_ratio}}</h6>
                    <h6>Número de votos: {{stats_voters_turnout}}</h6>
                </div>
                <div>
                    <h4>Gráfico</h4>
                    <canvas id="graficoPorcentajeVotaciones"></canvas>

                </div>
            </div>
            <div v-else-if="voting.end_date">
                <h4>Título: [[voting.name]]</h4>
                <h5>Estado: Cerrada</h5>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('graficoPorcentajeVotaciones').getContext('2d');
        var a1="{{stats_census_size}}";
        var a2="{{stats_voters_turnout}}";
        var a3=a1-a2;
        
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data:{
            datasets: [{
                data: [a3,a2],
                backgroundColor: [ 'red','blue'],
                label: 'Estado de la votación'}],
                labels: ['Número de personas que han votado','Número de personas que no han votado']},
            options: {responsive: true}
        });
        </script>
        
</body>
{% endblock %}


