{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

{% block content %}
<h2>Usuarios de la votacion {{id}} :</h2>
{% for i in pers%}
<h5>ID: {{i.usuario.id}}</h5>
<h5>User: {{i.usuario.username}}</h5>
<h5>Sexo: {{i.sexo}}</h5>
<h5>Correo: {{i.usuario.email}}</h5>
<h5>IP: {{i.ip}}</h5>
<h5>Region: {{i.region}}</h5>
<br></br>

{% empty %}
<h2>No hay usuarios registrados aptos para esa votacion</h2>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>   

<canvas id="chart" width="500" height="500"></canvas>
<canvas id="pie-chart" width="800" height="450"></canvas>

<script>

new Chart(document.getElementById("chart").getContext("2d"), {
  type: "bar",
  data: {
     labels: ["Mujeres", "Hombres", "Otros"],
     datasets: [
        {
          label: "Número de personas",
          backgroundColor: ["#8e5ea2","#3e95cd","#3cba9f"],
          data: [{{n_mujeres}}, {{n_hombres}}, {{n_otros}}]
        }
     ]
  },
  options: {
     title: {
        text: "Género de los votantes",
        display: true
     }
  }
});

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Menores de 18", "Entre 18 y 30", "Entre 30 y 70", "Mayores de 70"],
      datasets: [{
        label: "edades",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
        data: [{{menores}},{{jovenes}},{{veteranos}},{{ancianos}}]
      }]
    },
    options: {
      title: {
        text: 'Rango de edades de los votantes',
        display: true
      }
    }
});


</script>   




{% if message %}
<p>Error: {{message}}</p>
{% endif %}
</div>
{% endblock %}