{% extends "base.html" %}
{% load i18n static %}
{% block extrahead %}

{% endblock %}

{% block content %}
<h1>Instrucciones de cabina</h1>

<p>El usuario entra al módulo cabina para entrar a una página de inicio donde encuentra un enlace para acceder a un formulario de sugerencia donde podrá sugerir un tema a votar que le llegará al admin en su panel del control y después aparecerán de modo decreciente unos enlaces con las cabinas de votación a las que pueden entrar a votar.</p>

{% endblock %} 