{% extends "base.html" %}
{% load i18n static %}
{% block extrahead %}

{% endblock %}

{% block content %}
<h1>Instrucciones de almacenamiento</h1>
<h4>Para acceder al módulo de almacenamiento debes seguir las siguientes instrucciones:</h4>
<ul class="text-start">
    <li>Asegurarse de que se ha iniciado sesión como administrador</li>
    <li>Acceder a la url store/{id_votacion} donde <em>{id_votacion}</em> es el número de identificación de la votación a la que quieres acceder</li>
    <li>Allí podremos ver un panel de control de la votación</li>
</ul>

{% endblock %} 