{% extends "base.html" %}
{% load i18n static %}
{% block extrahead %}
{% endblock %}

{% block content %}
<h1>Instrucciones de votación</h1>

    <h4>Para crear una votación debes seguir los siguientes pasos</h4>
    <ul class="text-start">
        <li>Iniciar sesión como administrador</li>
        <li>Pulsar en el botón "Administración"</li>
        <li>Crear una pregunta pulsando en el botón "Add" en la parte de "Questions"</li>
        <li>Añadir una descripción de la pregunta y poner las opciones disponibles</li>
        <li>Crear una votación pulsando en el botón "Add" en la parte de "Votings"</li>
        <li>Rellenar los campos y pulsar en "SAVE"</li>
        <li>Seleccionar la votación, desplegar el campo "---------" y pulsar en "Start" y luego en "Go"</li>
        <li>Pulsar en "Home"</li>
        <li>Añadir el censo de la votación pulsando en el botón "Add" en la parte de "Censuss"</li>
        <li>Rellenar los campos y pulsar en "Save"</li>
    </ul>
    <p>¡Ya tendríamos la votación creada!</p>
{% endblock %} 