{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
{% endblock %}

<label for="reCaptcha">{% trans "Captcha" %}</label>
				<script src='https://www.google.com/recaptcha/api.js'></script>
				<div class="g-recaptcha" data-sitekey="6Lc6h4UUAAAAAKV3jjkEn0W3I_o_wprhVOUzXI9p"></div>
				<br />

{% block content %}
<div>
<form method="post" class>{% csrf_token %}
	{{form.as_p}}
	<input class="btn btn-primary" type="Submit" value="Registrar"/>
</form>
{% if message %}
<p>Error: {{message}}</p>
{% endif %}
</div>
{% endblock %}
